<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:js) %>
  </head>

  <body>
    <header>
      <nav class="w-full">
        <div class="flex justify-between max-w-5xl mx-auto">
          <div class="text-left text-4xl font-bold text-opacity-40 ml-5 mt-4">
            TO DO
          </div>
            <ul class="text-right text-2xl text-opacity-40 m-4">
              <li class="float-right font-bold p-2">新規登録</li>
              <li class="float-right font-bold p-2">ログイン</li>
            </ul>
        </div>
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
