<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:js) %>
  </head>

  <body>
    <header class="flex justify-between">
        <h1 class="text-4xl mx-auto mt-5 px-5">
          <a>TO DO</a>
        </h1>
        <nav class="text-3xl">
          <ul>
            <li>
              <a>
                新規登録
              </a>
              <a>
                ログイン
              </a> 
            </li>
          </ul>
        </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
